<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contratoscomerciais.unimeduberlandia.coop.br/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contratoscomerciais.unimeduberlandia.coop.br</MSDeployServiceURL>
    <DeployIisAppPath>contratoscomerciais.unimeduberlandia.coop.br</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>unimed014\crnascimento</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="portal_tiunimed_mysql" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=192.168.215.117;user id=mpaulo;password=mysql2013;persistsecurityinfo=True;database=tiunimed;SslMode=none" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\portal_tiunimed_mysql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=192.168.215.117;user id=mpaulo;password=mysql2013;persistsecurityinfo=True;database=tiunimed;SslMode=none" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="portal_unimed_mysql" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=192.168.215.117;user id=mpaulo;password=mysql2013;persistsecurityinfo=True;database=bdunimed;SslMode=none" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\portal_unimed_mysql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=192.168.215.117;user id=mpaulo;password=mysql2013;persistsecurityinfo=True;database=bdunimed;SslMode=none" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="servicos_oracle_hom" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=10.14.0.55:1521/unimed;USER ID=servicos;PASSWORD=un1m3d;PERSIST SECURITY INFO=True;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\servicos_oracle_hom_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=10.14.0.55:1521/unimed;USER ID=servicos;PASSWORD=un1m3d;PERSIST SECURITY INFO=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="servicos_oracle" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=192.168.215.113:1521/unimed;USER ID=servico;PASSWORD=un1m3d;PERSIST SECURITY INFO=True;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\servicos_oracle_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=192.168.215.113:1521/unimed;USER ID=servico;PASSWORD=un1m3d;PERSIST SECURITY INFO=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="iris_sql_server" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=192.168.215.81;Database=IRIS;User Id=sa;Password=oidracv56;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\iris_sql_server_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=192.168.215.81;Database=IRIS;User Id=sa;Password=oidracv56;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="servicos_mysql" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=192.168.215.81;user id=sa;password=$unimed@14$;persistsecurityinfo=True;database=servicos;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\servicos_mysql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=192.168.215.81;user id=sa;password=$unimed@14$;persistsecurityinfo=True;database=servicos;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sms_sql_server" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=192.168.215.81;Database=SMS;User Id=sa;Password=oidracv56;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sms_sql_server_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=192.168.215.81;Database=SMS;User Id=sa;Password=oidracv56;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sql_server_hom" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=10.14.0.50;Database=IRIS;User Id=sa;Password=unimed@14;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sql_server_hom_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=10.14.0.50;Database=IRIS;User Id=sa;Password=unimed@14;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dyad_oracle" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=192.168.215.113:1521/dyad;USER ID=servicos;PASSWORD=un1m3d;PERSIST SECURITY INFO=True;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dyad_oracle_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=192.168.215.113:1521/dyad;USER ID=servicos;PASSWORD=un1m3d;PERSIST SECURITY INFO=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RH_unimed_mysql" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=192.168.215.117;user id=mpaulo;password=mysql2013;persistsecurityinfo=True;database=rh;SslMode=none" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RH_unimed_mysql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=192.168.215.117;user id=mpaulo;password=mysql2013;persistsecurityinfo=True;database=rh;SslMode=none" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="servicos_senior" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DATA SOURCE=192.168.215.113:1521/SENIOR;USER ID=SERVICOS_SENIOR;PASSWORD=S3RV1C0S#19;PERSIST SECURITY INFO=True;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\servicos_senior_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DATA SOURCE=192.168.215.113:1521/SENIOR;USER ID=SERVICOS_SENIOR;PASSWORD=S3RV1C0S#19;PERSIST SECURITY INFO=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dyad_oracle-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)iris_sql_server-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)portal_tiunimed_mysql-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)portal_unimed_mysql-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)servicos_mysql-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)servicos_oracle-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)servicos_oracle_hom-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sms_sql_server-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sql_server_hom-Web.config Connection String" />
  </ItemGroup>
</Project>