<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net461" />
  <package id="bootstrap" version="3.0.0" targetFramework="net461" />
  <package id="datatables.mvc5" version="0.1.0" targetFramework="net461" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net461" />
  <package id="iTextSharp" version="5.0.5" targetFramework="net461" />
  <package id="jQuery" version="1.10.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.9.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Modernizr" version="2.6.2" targetFramework="net461" />
  <package id="MvcCheckBoxList" version="1.4.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net461" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net461" />
  <package id="Rotativa" version="1.7.3" targetFramework="net461" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="X.PagedList" version="7.5.0" targetFramework="net461" />
  <package id="X.PagedList.Mvc" version="7.5.0" targetFramework="net461" />
</packages>