<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="Dapper.Contrib" version="1.50.5" targetFramework="net461" />
  <package id="iTextSharp" version="5.0.5" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net461" />
  <package id="Rotativa" version="1.7.3" targetFramework="net461" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net461" />
  <package id="X.PagedList" version="7.5.0" targetFramework="net461" />
  <package id="X.PagedList.Mvc" version="7.5.0" targetFramework="net461" />
</packages>