
@{
    ViewBag.Title = "Erro 403 | Você não permissão nesta página";
    Layout = "~/Views/Shared/_Servicos.cshtml";
}
<section class="content">
    <div class="error-page">
        
        <div class="error-content">
            <h2 class="headline text-red">Erro 403</h2>

            <h3><i class="fa fa-warning text-red"></i> Oops! Alguma coisa saiu errado.</h3>
            <p>
                Você não tem permissões cadastradas para acessar esta página. Entre em contato com o Administrador do sistema.
            </p>
        </div>
    </div>
</section>