@using Painel.Core

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Servicos.cshtml";
}

@section css{
}

@section js {
}

<section class="content-header">
    <h1>
        
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12" align="center">

            <div class="banner-box">
                <img src="~/Contents/img/gptw.png" width="1024" height="700" />
            </div>
        </div>
    </div>
</section>